// --------------- COLOURS --------------- //

// generic
$dx8-white: #FFF;
$dx8-grey-1: #F1F1F1;
$dx8-grey-2: #DBDBDB;
$dx8-grey-3: #CECECE;
$dx8-grey-4: #BFBFBF;
$dx8-grey-5: #B3B3B3;
$dx8-black: #000;